<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>twitch-dl</title>
    <script src="static/jquery.js"></script>
    <script src="static/popper.js"></script>
    <script src="static/bootstrap.js"></script>
    <script src="static/vue.js"></script>
    <link href="static/bootstrap.css" rel="stylesheet">
    <link href="static/index.css" rel="stylesheet">
  </head>
  <body>
    <div id="app" class="container-fluid bg-dark text-white">
      <div class="row">
        <div class="col">
          <h1>twitch-dl</h1>
          <p>{{ message }}</p>
          <p>
            <button v-on:click="refresh(true)" type="button"
                class="btn btn-primary">
              Refresh
            </button>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h2>subscriptions</h2>
        </div>
      </div>
      <div v-for="subscription in subscriptions" class="row">
        <div class="col">
          <form class="form-inline">
            <p>
              <input type="text" class="form-control" placeholder="id"
                  v-model="subscription.id"/>
              <input type="text" class="form-control" placeholder="name"
                  v-model="subscription.name"/>
              <button v-on:click="subscriptions_save(subscription)"
                  type="button" class="btn btn-primary">save</button>
              <button v-on:click="subscriptions_delete(subscription)"
                  type="button" class="btn btn-danger">delete</button>
            </p>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>
            <button v-on:click="subscriptions_add" type="button"
                class="btn btn-primary">add</button>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h2>videos</h2>
        </div>
      </div>
      <div v-for="video in videos" class="row d-flex flex-row">
        <img v-bind:src="video.thumbnail_path" class="img-thumbnail flex-grow-0 flex-shrink-0"/>
        <div class="col flex-grow-1 flex-shrink-0">
          <p>
            <a v-bind:href="video.url">
              {{ video.uploaded }}
              [{{
                Math.floor(video.length / (60 * 60))
              }}:{{
                ("00" + Math.floor(video.length / 60) % 60).substr(-2, 2)
              }}:{{
                ("00" + Math.floor(video.length) % 60).substr(-2, 2)
              }}]
              {{ video.title }}
            </a>
          </p>
          <div class="form-group form-check">
            <input v-model="video.download"
                v-bind:id="'download-' + video.id"
                v-on:change="videos_save(video, 'download')" type="checkbox"
                class="form-check-input"/>
            <label v-bind:for="'download-' + video.id" class="form-check-label">
              download
            </label>
          </div>
          <div class="form-group form-check">
            <input v-model="video.watched"
                v-bind:id="'watched-' + video.id"
                v-on:change="videos_save(video, 'watched')" type="checkbox"
                class="form-check-input"/>
            <label v-bind:for="'watched-' + video.id" class="form-check-label">
              watched
            </label>
          </div>
          <p>
            <a v-bind:href="video.path">
              progress: {{ video.progress }}%
            </a>
          </p>
        </div>
      </div>
    </div>
    <script src="static/index.js"></script>
  </body>
</html>
